# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
/media/
*.sqlite3

# Virtualenv
.venv/
venv/
env/
ENV/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# IDE-specific settings
*.swp
*~
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Windows
Thumbs.db

# dotenv files
.env
.env.*

# Coverage reports
*.cover
.coverage
.coverage.*
nosetests.xml
test-*.xml

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# TypeScript / JavaScript / Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Django migrations
*/migrations/

# Static files
/static/

# Backup files
*.bak
*.swp
